<div class="jumbotron jumbotron-fluid">
  <div class = "container">
    <h1 class="display-4" style="text-align:center" id="wel">Welcome!</h1>
    <p class="lead" style="text-align:center">This web application is for comparing the percentage of market value of securities between two ETF files. Use the tool below to upload two different ETF files (must be .csv files), and then click "Compare".</p>
  </div>
</div>

<div class="mx-auto" style="width:50%; min-width:200px; padding-bottom:10px">
  <div class="form-group">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="file1" (change)="onFileSelect($event.target)">
      <label class="custom-file-label" for="file1">Choose file</label>
    </div>
  </div>
</div>

<div class="mx-auto" style="width:50%; min-width:200px; padding-bottom:10px">
  <div class="form-group">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="file2" (change)="onFileSelect($event.target)">
      <label class="custom-file-label" for="file2">Choose file</label>
    </div>
  </div>
</div>

<div class="text-center">
  <button type="button" id="compare" class="btn btn-secondary btn-lg" style="width:300px" routerLink="/chart" routerLinkActive="active">Compare</button>
</div>